body{
    overflow-x: hidden;
    overflow-y: scroll;
}
.glyphicon-ok{color: green}
.glyphicon-lock{color:#E41B17}
.btn-custom{background-color: #6eaa2d;color: white;font-size: 20px;}
.btn-custom:hover{background-color: #76B630;}
@media (min-width: 280px) and (max-width: 650px) {
.custom-col{
   margin: 0px !important;
   padding: 0px !important;
}
img{
	width: 100%;
}
}
.panel-body{font-family: 'Roboto', sans-serif;}
button{font-family: 'Arial', sans-serif}
.glyphicon-warning-sign{color:#E41B17}
.panel-footer a{
	text-align: center;
	text-decoration: none;
}

.panel-body p{text-align: left;}
.navbar-custom{background-color: #76B630;color: white}
#language{font-size: 18px}
#language option{background-color: white;color: black}
.option:hover{background-color: #76B630;color:white;}
.custom-block{color: #F44355;display: block;}
.glyphicon-smiley{font-size: xx-large;}
.message p{text-align: center;font-size:large}
.alert .alert-danger{color:#F44355;color: white }
/* .loader {
    border: 16px solid #f3f3f3; Light grey
    border-top: 16px solid #3498db; Blue
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */
iframe{
	border: 0px none;  height: 350px;  width: 600px; margin-left: 8px;
}

@media (min-width: 280px) and (max-width: 411px) {
	iframe{
	border: 0px none;  height: 350px;  width: 295px; margin-left: 5px;
  }
}
@media (min-width: 412px) and (max-width: 650px) {
	iframe{
	border: 0px none;  height: 350px;  width: 340px; margin-left: 5px;
  }
}
/* @media (min-width: 320px) and (max-width: 460px) {
	iframe{
	border: 0px none;  height: 320px;  width: 340px; margin-left: 5px;
  }
} */
.form-panel {
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}
.notfound{
  background-color: white;
  padding: 15px;
  border-radius: 3px;
}
.notfound-body{
  background-color: #EEEEEE;
}
.message a{background-color: #76B630;color: white}
.message a:hover {background-color: #76B600}
.radio_logo{padding: 2px; border: 2px solid #eee;width: 72px;height: 46px;margin-top: -18px;border-radius: 5px;}
.radio_logo1{padding: 2px;border: 2px solid #eee;width: 72px;height: 46px;margin-top: -3px;border-radius: 5px;}
.others label span.circle{ margin-top: 14px; }
.terms_footer{height:22px;}
.terms_body{height: 440px;overflow-y: scroll;padding-bottom: 5px;}